/* CSS that affects the webpage as a whole */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  text-align: center;
  justify-content: center;
  width: 100%;
}
